<html>
  <head>
    <title>GOCI&trade;</title>
    <link rel="stylesheet" href="static/main.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/vue-google-maps.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC:300" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Gratton-Ooi Congestion Index</h1>
    </header>
    <main id="app">
      <gmap-map :zoom="zoom"
                :center="center"
                style="width: 80%; height: 75%; margin: auto; margin-top: 20px;">
        <gmap-marker v-for="(camera, index) in cameras"
                     :key="index"
                     :position="camera.location.coordinates[0]"
                     :title="camera.description"
                     @click="openInfoWindow(camera)">
        </gmap-marker>
        <gmap-info-window v-for="(window, index) in infoWindows"
                          :position="window.position"
                          :options="window.options">
        </gmap-info-window>
      </gmap-map>
    </main>
    <footer id="footer">
      &copy; Blaise Gratton &amp; Phillip Ooi {{ new Date().getFullYear() }}
    </footer>
    <script src="static/app.js"></script>
  </body>
</html>
