html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: 'Spectral SC', serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: #37ad6f;
  color: #fff;
  border-bottom: 10px solid #28384c;
}

main {
  border-top: 5px solid #e6e6e6;
}

.info-window {
}

.info-window h2 {
  display: block;
  max-width: 320px;
  margin-left: 22px;
} 

.info-window img {
  display: block;
  margin: auto;
  margin-left: 22px;
  margin-bottom: 20px;
} 

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 45px;
  padding: 15px;
  background-color: #e6e6e6;
}

/* from https://codepen.io/alek/pen/EyyLgp */
/* explosion container */
.explosion {
  position: absolute; /* required if positioned on click else 'relative' */
  width: 600px;
  height: 600px;
  pointer-events: none; /* make it clickable trhough */
}
/* particle styling */
.explosion .particle {
  position: absolute; /* required  */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pop 1s reverse forwards; /* required */
}
/* animation for particle fly away from the cursor */
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}
